<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>Electricity</string>
		<key>image</key>
		<string>Electricity</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Employee</string>
		<key>image</key>
		<string>Employee</string>
	</dict>
	<dict>
		<key>type</key>
		<string>COGS</string>
		<key>image</key>
		<string>COGS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Rent</string>
		<key>image</key>
		<string>Rent</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Finance</string>
		<key>image</key>
		<string>Finance</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Automobile</string>
		<key>image</key>
		<string>Automobile</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Marketing</string>
		<key>image</key>
		<string>marketing</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Telephone</string>
		<key>image</key>
		<string>Telephone</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Expenses</string>
		<key>image</key>
		<string>Expenses</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Hardware</string>
		<key>image</key>
		<string>Hardware</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Others</string>
		<key>image</key>
		<string>Others</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Water</string>
		<key>image</key>
		<string>Water</string>
	</dict>
</array>
</plist>
